<div class="page-header">
<h1>Create a New Task</h1>
</div>

<%= form_for @task, html: {class: "form-horizontal"} do |f| %>

<div class="form-group">
  <%= f.label :description, class: "col-xs-2" %>
  <div class="col-xs-4">
    <%= f.text_field :description, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :due_date, "Due Date", class: "col-xs-2" %>
  <div class="col-xs-4">
    <%= f.date_field :due_date, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="col-md-10 col-md-offset-2">
    <%= f.submit class: "btn btn-primary" %>
  </div>
</div>

<% end %>
